name: CI Workflow
on: [push, pull_request]
jobs:
  build:
    name: build and test
    runs-on: ubuntu-20.04
    # npm start:server tries to connect to the db, so we need the service
    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_PASSWORD: password
          POSTGRES_DB: chapter
        ports:
          - 5432:5432
    strategy:
      fail-fast: false
      matrix:
        node-version: [16.x]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      # since our lockfiles are v2, we should use npm 8
      - name: Update npm
        run: npm i -g npm@8
      - name: Install dependencies
        run: npm i
      - name: Run linter
        run: npm run lint
      - name: Type check client
        run: cd client && npx tsc
      - name: Type check server
        run: cd server && npx tsc
      - name: Build client
        run: npm run build:client
      - name: Run local tests
        run: npm t
      - name:
          Check code generation
          # 1) try to generate code, 2) clean up, 3) check if the correct code has been committed
        run: |
          npm run start:server & ./server/wait-for localhost:5000 -- npm run gen
          killall node
          ./scripts/check-generated-code.sh
      - name: Start Docker service
        env:
          IS_DOCKER: true
        run: DOCKER_BUILDKIT=1 docker-compose up -d
      - name: Seed the Docker db
        env:
          IS_DOCKER: true
        run: npm run db:reset
