name: CI Workflow
on: [push, pull_request]
jobs:
  build:
    name: build and test
    runs-on: ubuntu-20.04
    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_PASSWORD: password
          POSTGRES_DB: chapter
        ports:
          - 5432:5432
    strategy:
      fail-fast: false
      matrix:
        node-version: [16.x]
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # tag=v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@969bd2663942d722d85b6a8626225850c2f7be4b # tag=v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Run linter
        run: npm run lint
      - name: Run local tests
        run: npm t
      - name:
          Check code generation
          # 1) try to generate code, 2) clean up, 3) check if the correct code has been committed
        run: |
          npm run dev:server & ./server/wait-for localhost:5000 -- npm run gen
          killall node
          ./scripts/check-generated-code.sh
      - name: Start Docker Development Environment
        env:
          DB_PORT: 54320
        run: docker compose up -d
      - name: Seed the Docker db
        env:
          DB_PORT: 54320
        run: npm run db:reset
