name: Cypress
on:
  push:
    branches-ignore:
      - 'renovate/**'
  pull_request:

jobs:
  cypress-run:
    name: Test
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        browsers: [chrome, firefox]
        node-version: [18.x]
    steps:
      - name: Set Action Environment Variables
        run: |
          echo "CYPRESS_RECORD_KEY=${{ secrets.CYPRESS_RECORD_KEY }}" >> $GITHUB_ENV
          echo "GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}" >> $GITHUB_ENV

      - name: Checkout Source Files
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c # v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Set Chapter Environment Variables
        run: cp .env.example .env 

      - name: Cypress run
        uses: cypress-io/github-action@v4
        with:
          record: ${{ env.CYPRESS_RECORD_KEY != 0 }}
          build: npm run build:coverage
          start: npm run start:ci
          wait-on: 'http://localhost:3000, http://localhost:5000/graphql'
          browser: ${{ matrix.browsers }}

      - name: Print Cypress coverage report
        run: npm run cypress:coverage:report