# TODO: get rid of the seed stuff when we have a less hacky way to do this
name: Build and Deploy
on:
  push:
    branches: [staging]
  workflow_dispatch:
jobs:
  build:
    name: Build and Upload Images
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # tag=v3
      - name: Use Node.js
        uses: actions/setup-node@969bd2663942d722d85b6a8626225850c2f7be4b # tag=v3
        with:
          node-version: '16.x'
      # Due to a quirk of Actions, the .env file overwrites the env: values you
      # set in the YAML. We create this empty file so that the build does not
      # fail, but pass the values in via env:
      - name: Create Dummy .env
        run: touch .env
      - name: Build Images
        env:
          NEXT_PUBLIC_SERVER_URL: ${{ secrets.CHAPTER_SERVER_URL }}
          NEXT_PUBLIC_AUTH0_DOMAIN: ${{ secrets.AUTH0_DOMAIN }}
          NEXT_PUBLIC_AUTH0_AUDIENCE: ${{ secrets.AUTH0_AUDIENCE }}
          NEXT_PUBLIC_AUTH0_CLIENT_ID: ${{ secrets.AUTH0_CLIENT_ID }}
          NEXT_PUBLIC_DEPLOYMENT_ENVIRONMENT: ${{ secrets.DEPLOYMENT_ENVIRONMENT }}
          NEXT_PUBLIC_CLIENT_URL: ${{ secrets.CHAPTER_CLIENT_URL }}
        run: |
          npm run build
          docker compose -f docker-compose.seed.yml build
      - name: Save Images
        run: |
          docker save -o app.tar chapter-app
          docker save -o client.tar chapter-client
          docker save -o seed.tar chapter-seed
      # TODO: upload to repository once this has been shown to work.
      - name: Upload Images
        uses: appleboy/scp-action@6d1fc191a822daa12faa45f3a985413f995ff5c5 # tag=v0.1.3
        with:
          host: ${{ secrets.DIGITAL_OCEAN_HOST_IP }}
          username: ${{ secrets.DIGITAL_OCEAN_USERNAME }}
          key: ${{ secrets.DIGITAL_OCEAN_SSH_KEY }}
          passphrase: ${{ secrets.DIGITAL_OCEAN_SSH_PASSPHRASE }}
          port: 22
          source: 'app.tar,client.tar,seed.tar'
          target: images
      - name: Upload Compose Files
        uses: appleboy/scp-action@6d1fc191a822daa12faa45f3a985413f995ff5c5 # tag=v0.1.3
        with:
          host: ${{ secrets.DIGITAL_OCEAN_HOST_IP }}
          username: ${{ secrets.DIGITAL_OCEAN_USERNAME }}
          key: ${{ secrets.DIGITAL_OCEAN_SSH_KEY }}
          passphrase: ${{ secrets.DIGITAL_OCEAN_SSH_PASSPHRASE }}
          port: 22
          source: 'docker-compose.yml,docker-compose.mailhog.yml,docker-compose.seed.yml'
          target: chapter
      - name: Unpack Images
        uses: appleboy/ssh-action@f9010ff7f1bbd7db1a0b4bab661437550cea20c0 # tag=v0.1.5
        with:
          host: ${{ secrets.DIGITAL_OCEAN_HOST_IP }}
          username: ${{ secrets.DIGITAL_OCEAN_USERNAME }}
          key: ${{ secrets.DIGITAL_OCEAN_SSH_KEY }}
          passphrase: ${{ secrets.DIGITAL_OCEAN_SSH_PASSPHRASE }}
          port: 22
          # TODO: drop the .mailhog file when we want to deploy to staging or production.
          # Its only purpose is to make mailhog available.
          script: |
            docker image prune -f
            docker load -i images/app.tar
            docker load -i images/client.tar
            docker load -i images/seed.tar
            cd chapter && docker compose -f docker-compose.yml -f docker-compose.mailhog.yml up -d
